.item-table:hover{
    cursor: pointer;
    background-color: #e5f7ff;
}
.setting-svg:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #005eca;
}
.setting-svg{
    transition: all 1s;
    transform-origin: 50% 50%;
}

#wrap{
    min-width: 300px !important;
}

.include{
    display: flex;
    flex-direction: row;
}

#inputs{
    width:20% !important;
}
